$color-primary: #222222;
$color-primary-light: #2b2828;
$color-primary-dark: #111100;
$color-white: #ffffff;
$color-grey-dark: #777777;
$color-black: #000000;
$color-grey-light-1: #111100;
$color-grey-dark-1: #000000;
$color-light-grey: #eeeeee;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;