.header  {
    height: 95vh;
    background: linear-gradient(to right, 
    rgba($color-primary-dark, 0.7), 
    rgba($color-primary-dark, 0.7)),
    url(../images/charley-pangus-pOpFGe3bWq0-unsplash.jpg) center center/cover;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
}
#navbar {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem; 

    & ul {
        display: flex;
        align-items: center;
        list-style-type: none;

        & li a {
         color: $color-white;
        }
    
    }

    & .logo .img-responsive {
        height: 35px;
    }
}