.composition {
    position: relative;
    
   &__photo {
      max-width: 18rem;
      box-shadow: 0 1.5rem 4rem rgba($color-primary, .4);
      border-radius:.2rem;
      position: absolute;
      z-index: 10;
      transition: all .2s;
      outline-offset: .7rem;

      &--p1 {
        left: 0;
        top: -2rem;
      }
      &--p2 {
        right: 0;
        top: 2rem;
      }
      &--p3 {
        left: 2rem;
        top: 10rem;
      }

      &:hover {
          outline: .8rem solid rgba($color-grey-light-1, 0.9);
          transform: scale(1.05); 
          box-shadow: 0 2.5rem 4rem rgba($color-primary, .4); 
          z-index: 20;
      }
   } 
}